body {
  /* height: 600px; */
}

.App {
  width: 666px;
  height: 520px;
  margin: auto;
  padding-top: 8px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break {
  word-break: break-all;
}
